In [2]:
import pandas as pd

In [99]:
df1 = pd.read_csv('Financial/[1201]ESG.csv', dtype={'corp_code': str, 'stock_code': str}) 
print(df1.shape)
df1.head()

(2362, 22)

,회사명,corp_code,stock_code,연도,ESG,자산총계,자산총계(t-1),매출액,매출액(t-1),부채총계,...,무형자산,현금 배당 성향,현금 배당 성향(t-1),사외이사 비율,최대주주지분율,영업활동 현금흐름,정규직 수,정규직 수(t-1),비정규직 수,비정규직 수(t-1)
0,기아,00106641,000270,2022,B+,7.371096e+13,6.685000e+13,8.655903e+13,6.986237e+13,3.436788e+13,...,2.905980e+06,25.9,25.3,55.555556,35.62,9.333186e+12,34260.0,34562.0,1587.0,939.0
1,S-Oil,00138279,010950,2022,A,1.961314e+13,1.869324e+13,4.244603e+13,2.746392e+13,1.112967e+13,...,1.064180e+05,30.4,32.1,8.196721,63.44,1.278921e+12,951.0,727.0,51.0,35.0
2,풀무원,00155355,017810,2022,A,2.049218e+12,1.969373e+12,2.838304e+12,2.518896e+12,1.502571e+12,...,9.776635e+10,-10.1,NaN,29.629630,54.30,9.483757e+10,470.0,434.0,37.0,18.0
3,케이티,00190321,030200,2022,A,4.098068e+13,3.715934e+13,2.565001e+13,2.489800e+13,2.256596e+13,...,3.129833e+06,39.8,33.2,40.000000,12.68,3.597065e+12,19823.0,21087.0,721.0,672.0
4,SK,00181712,034730,2022,A+,1.945059e+14,1.653684e+14,1.345516e+14,9.720365e+13,1.226971e+14,...,1.270902e+07,25.5,22.8,4.807692,26.69,7.677749e+12,4422.0,959.0,164.0,167.0

In [100]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2362 entries, 0 to 2361
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   회사명            2362 non-null   object
 1   corp_code      2362 non-null   object
 2   stock_code     2362 non-null   object
 3   연도             2362 non-null   int64
 4   ESG            2362 non-null   object
 5   자산총계           2362 non-null   float64
 6   자산총계(t-1)      2362 non-null   float64
 7   매출액            2362 non-null   float64
 8   매출액(t-1)       2362 non-null   float64
 9   부채총계           2362 non-null   float64
 10  EBITDA         2362 non-null   float64
 11  EBITDA(t-1)    2362 non-null   object
 12  무형자산           2361 non-null   float64
 13  현금 배당 성향       1497 non-null   float64
 14  현금 배당 성향(t-1)  1501 non-null   float64
 15  사외이사 비율        2362 non-null   float64
 16  최대주주지분율        2362 non-null   object
 17  영업활동 현금흐름      2362 non-null   float64
 18  정규직 수          2362 non-null   float64
 19  정규직 수(t-1)     2362 non-null   float64
 20  비정규직 수         2362 non-null   float64
 21  비정규직 수(t-1)    2362 non-null   float64
dtypes: float64(15), int64(1), object(6)
memory usage: 406.1+ KB
None

In [94]:
df2 = pd.read_csv('./Financial/[1204]ESG.csv', dtype={'corp_code': str, 'stock_code': str})
df2.head()

,회사명,corp_code,stock_code,연도,ESG,자산총계,자산총계(t-1),매출액,매출액(t-1),부채총계,...,무형자산,현금 배당 성향,현금 배당 성향(t-1),사외이사 비율,최대주주지분율,영업활동 현금흐름,정규직 수,정규직 수(t-1),비정규직 수,비정규직 수(t-1)
0,기아,00106641,000270,2022,B+,7.371096e+13,6.685000e+13,8.655903e+13,6.986237e+13,3.436788e+13,...,2.905980e+06,25.9,25.3,55.555556,35.62,9.333186e+12,34260.0,34562.0,1587.0,939.0
1,S-Oil,00138279,010950,2022,A,1.961314e+13,1.869324e+13,4.244603e+13,2.746392e+13,1.112967e+13,...,1.064180e+05,30.4,32.1,8.196721,63.44,1.278921e+12,951.0,727.0,51.0,35.0
2,풀무원,00155355,017810,2022,A,2.049218e+12,1.969373e+12,2.838304e+12,2.518896e+12,1.502571e+12,...,9.776635e+10,-10.1,NaN,29.629630,54.30,9.483757e+10,470.0,434.0,37.0,18.0
3,케이티,00190321,030200,2022,A,4.098068e+13,3.715934e+13,2.565001e+13,2.489800e+13,2.256596e+13,...,3.129833e+06,39.8,33.2,40.000000,12.68,3.597065e+12,19823.0,21087.0,721.0,672.0
4,SK,00181712,034730,2022,A+,1.945059e+14,1.653684e+14,1.345516e+14,9.720365e+13,1.226971e+14,...,1.270902e+07,25.5,22.8,4.807692,26.69,7.677749e+12,4422.0,959.0,164.0,167.0

In [9]:
print(df2.shape)
print(df2.info())

(2359, 22)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   회사명            2359 non-null   object
 1   corp_code      2359 non-null   int64
 2   stock_code     2359 non-null   int64
 3   연도             2359 non-null   int64
 4   ESG            2359 non-null   object
 5   자산총계           2359 non-null   float64
 6   자산총계(t-1)      2359 non-null   float64
 7   매출액            2359 non-null   float64
 8   매출액(t-1)       2359 non-null   float64
 9   부채총계           2359 non-null   float64
 10  EBITDA         2359 non-null   float64
 11  EBITDA(t-1)    2359 non-null   object
 12  무형자산           2358 non-null   float64
 13  현금 배당 성향       1495 non-null   float64
 14  현금 배당 성향(t-1)  1498 non-null   float64
 15  사외이사 비율        2359 non-null   float64
 16  최대주주지분율        2359 non-null   float64
 17  영업활동 현금흐름      2359 non-null   float64
 18  정규직 수          2359 non-null   float64
 19  정규직 수(t-1)     2359 non-null   float64
 20  비정규직 수         2359 non-null   float64
 21  비정규직 수(t-1)    2359 non-null   float64
dtypes: float64(16), int64(3), object(3)
memory usage: 405.6+ KB
None

In [101]:
df3 = pd.read_csv('./Financial/[1205]ESG.csv', dtype={'corp_code': str, 'stock_code': str})
df3.head()

,회사명,corp_code,stock_code,연도,ESG,자산총계,자산별 현금흐름,부채 비율,무형자산 비중,매출액 성장률,현금 배당성향 상승률,EBITDA 성장률,임직원 성장률,최대주주 지분율,사외이사비율,비정규직(o2)
0,기아,00106641,000270,2022,B+,7.371096e+13,0.126619,0.466252,3.942399e-08,0.192893,0.023166,0.147722,0.009652,35.62,0.555556,0.044271
1,S-Oil,00138279,010950,2022,A,1.961314e+13,0.065207,0.567460,5.425854e-09,0.352968,-0.055921,0.352081,0.239521,63.44,0.081967,0.050898
2,풀무원,00155355,017810,2022,A,2.049218e+12,0.046280,0.733241,4.770911e-02,0.112535,4.023285,1.733645,0.108481,54.30,0.296296,0.072978
3,케이티,00190321,030200,2022,A,4.098068e+13,0.087775,0.550649,7.637338e-08,0.029318,0.165829,-0.044531,-0.059141,12.68,0.400000,0.035095
4,SK,00181712,034730,2022,A+,1.945059e+14,0.039473,0.630814,6.534003e-08,0.277574,0.105882,-0.012461,0.754470,26.69,0.048077,0.035761

In [102]:
print(df3.shape)
print(df3.info())

(2359, 16)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   회사명          2359 non-null   object
 1   corp_code    2359 non-null   object
 2   stock_code   2359 non-null   object
 3   연도           2359 non-null   int64
 4   ESG          2359 non-null   object
 5   자산총계         2359 non-null   float64
 6   자산별 현금흐름     2359 non-null   float64
 7   부채 비율        2359 non-null   float64
 8   무형자산 비중      2358 non-null   float64
 9   매출액 성장률      2359 non-null   float64
 10  현금 배당성향 상승률  2359 non-null   float64
 11  EBITDA 성장률   2359 non-null   float64
 12  임직원 성장률      2359 non-null   float64
 13  최대주주 지분율     2359 non-null   float64
 14  사외이사비율       2350 non-null   float64
 15  비정규직(o2)     2359 non-null   float64
dtypes: float64(11), int64(1), object(4)
memory usage: 295.0+ KB
None

In [103]:
df3[df3['무형자산 비중'].isna()]

,회사명,corp_code,stock_code,연도,ESG,자산총계,자산별 현금흐름,부채 비율,무형자산 비중,매출액 성장률,현금 배당성향 상승률,EBITDA 성장률,임직원 성장률,최대주주 지분율,사외이사비율,비정규직(o2)
2193,진양폴리우레탄,00160375,010640,2020,C,4.479806e+10,0.059825,0.399206,NaN,0.05397,0.605998,-3.533234,0.148148,50.5,0.1625,0.0

In [104]:
df3.loc[2193,  '무형자산 비중'] = 0

In [105]:
# 한국특강
df3.loc[358,  '사외이사비율'] = 3 / 13
df3.loc[1144,  '사외이사비율'] = 3 / 14
df3.loc[1930, '사외이사비율'] = 3 / 9

# 오스코텍
df3.loc[744, '사외이사비율'] = 0
df3.loc[1530, '사외이사비율'] = 0
df3.loc[2315, '사외이사비율'] = 0

#리더스기술투자
df3.loc[782,  '사외이사비율'] = 2 / 10
df3.loc[1568,  '사외이사비율'] = 1 / 6
df3.loc[2353, '사외이사비율'] = 1 / 5

In [106]:
df3.head(10)

,회사명,corp_code,stock_code,연도,ESG,자산총계,자산별 현금흐름,부채 비율,무형자산 비중,매출액 성장률,현금 배당성향 상승률,EBITDA 성장률,임직원 성장률,최대주주 지분율,사외이사비율,비정규직(o2)
0,기아,00106641,000270,2022,B+,7.371096e+13,0.126619,0.466252,3.942399e-08,0.192893,0.023166,0.147722,0.009652,35.62,0.555556,0.044271
1,S-Oil,00138279,010950,2022,A,1.961314e+13,0.065207,0.567460,5.425854e-09,0.352968,-0.055921,0.352081,0.239521,63.44,0.081967,0.050898
2,풀무원,00155355,017810,2022,A,2.049218e+12,0.046280,0.733241,4.770911e-02,0.112535,4.023285,1.733645,0.108481,54.30,0.296296,0.072978
3,케이티,00190321,030200,2022,A,4.098068e+13,0.087775,0.550649,7.637338e-08,0.029318,0.165829,-0.044531,-0.059141,12.68,0.400000,0.035095
4,SK,00181712,034730,2022,A+,1.945059e+14,0.039473,0.630814,6.534003e-08,0.277574,0.105882,-0.012461,0.754470,26.69,0.048077,0.035761
5,NAVER,00266961,035420,2022,A,3.389904e+13,0.042874,0.308231,4.370105e-02,0.170616,0.972222,-0.962136,0.051116,8.94,0.571429,0.024138
6,포스코인터내셔널,00124504,047050,2022,A,1.251634e+13,0.098534,0.648609,1.786668e-04,0.106364,-0.311005,0.341504,-0.036066,63.30,0.571429,0.021311
7,SK이노베이션,00631518,096770,2022,A,6.721892e+13,0.006048,0.654230,5.640333e-04,0.399753,-1.106918,0.713842,-1.716867,33.44,0.073529,0.144578
8,CJ대한통운,00113410,000120,2022,B+,9.693300e+12,0.064265,0.583804,1.235347e-01,0.064882,-4.551851,0.161747,0.088869,40.17,0.571429,0.129264
9,두산,00117212,000150,2022,B+,2.631535e+13,0.020261,0.608677,2.998574e-01,0.243842,0.440912,3.073663,0.068441,47.23,0.571429,0.033270

In [107]:
df3.info()
df3.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   회사명          2359 non-null   object
 1   corp_code    2359 non-null   object
 2   stock_code   2359 non-null   object
 3   연도           2359 non-null   int64
 4   ESG          2359 non-null   object
 5   자산총계         2359 non-null   float64
 6   자산별 현금흐름     2359 non-null   float64
 7   부채 비율        2359 non-null   float64
 8   무형자산 비중      2359 non-null   float64
 9   매출액 성장률      2359 non-null   float64
 10  현금 배당성향 상승률  2359 non-null   float64
 11  EBITDA 성장률   2359 non-null   float64
 12  임직원 성장률      2359 non-null   float64
 13  최대주주 지분율     2359 non-null   float64
 14  사외이사비율       2359 non-null   float64
 15  비정규직(o2)     2359 non-null   float64
dtypes: float64(11), int64(1), object(4)
memory usage: 295.0+ KB

회사명            0
corp_code      0
stock_code     0
연도             0
ESG            0
자산총계           0
자산별 현금흐름       0
부채 비율          0
무형자산 비중        0
매출액 성장률        0
현금 배당성향 상승률    0
EBITDA 성장률     0
임직원 성장률        0
최대주주 지분율       0
사외이사비율         0
비정규직(o2)       0
dtype: int64

In [108]:
df3.to_csv('./Financial/[1206]ESG.csv', encoding='utf8', index=False)